nimcache/
nimblecache/

nimbledeps/pkgs/*
nimbledeps/packages_official.json
nimbledeps/packages_temp.json

htmldocs/

testresults/
tests/megatest.nim
tests/megatest
outputGotten.txt
testresults.html
tests/bin

Session.vim
/bin/
